@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#scene-container {
  width: 90vw;
  height: 90vh;
}

canvas {
    position: absolute;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#c{
  height: 90vh;
  width: 90vw;
  z-index: 99;
}

#fixedText, #fixedTextMathJax, #animatedTextMathJax{
	position: absolute;
	z-index: 100;
	display: block;
	color: red;
	font-family: 'Arial', sans-serif;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: red;
    }
}

@keyframes dash-and-fill {
    0% {
        fill: transparent;
    }
    75% {
        fill: transparent;
        stroke-dashoffset: 0;
    }
    100% {
        fill: red;
        stroke-dashoffset: 0;
    }
}

/*#animatedTextMathJax {*/
    /**/
/*}*/
