#scene-container {
  width: 95vw;
  height: 95vh;
}

canvas {
    position: absolute;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}
.animation-bottom {
    top: calc(100% - 50px);
    width: calc(100% - 20px);
}
